.tropical{
  color: #f7325e;
  font-family: fantasy;
  text-align: center;
}
h2.tropical{
  color: blue;
  text-align: center;
}
body{
  text-align: center;
}
h3{
  color: blue;
}
.popular{
  color: blue;
  font-family: sans-serif;
}
img{
  
}
